{#include base-user}
  {#title}<title>Java Quarkus WebApp</title>{/title}

{#content}
<div class="card m-3 p-3">
  <h3>Add/Edit a User</h3>
  <form >
    <div class="m-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" name="name" placeholder="Name" class="form-control" />
    </div>
    <div class="m-3">
      <label for="category" class="form-label">Email</label>
      <input type="email" id="email" name="email" placeholder="Email" class="form-control" />
    </div>
    <div class="m-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" name="password" placeholder="Password" class="form-control" />
    </div>
    <div class="m-3">
      <input type="submit" value="Save" /><input type="reset" />
    </div>
  </form>
</div>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Password</th>
      <th></th>
    </tr>
    {#for usr in userlist}
    <tr>
      <td>{usr.id}</td>
      <td>{usr.username}</td>
      <td>{usr.password}</td>
      <td>
        <a href="#" class="btn btn-sm btn-secondary">Edit</a>
        <a href="#" class="btn btn-sm btn-danger">Remove</a>
      </td>
    </tr>
    {/for}
  </table>
</div>
{/content}

{/include}