{% extends 'base.html' %}

{% block title %}
FastAPI Python Simple Webapp
{% endblock %}

{% block htmlbody %}

<div id="expagetop">
<h1>
FastAPI Python Simple Webapp
</h1>
</div>

<hr />

<div>
FastAPI Python Simple Webapp
<span>
SPAN SPAN
</span>
FastAPI Python Simple Webapp
<br />
Block Quote
<blockquote>
FastAPI Python Simple Webapp
FastAPI Python Simple Webapp
FastAPI Python Simple Webapp
FastAPI Python Simple Webapp
FastAPI Python Simple Webapp
</blockquote>
<h1>FastAPI Python Simple Webapp</h1>
<h2>FastAPI Python Simple Webapp</h2>
<h3>FastAPI Python Simple Webapp</h3>
<h4>FastAPI Python Simple Webapp</h4>
<h5>FastAPI Python Simple Webapp</h5>
<h6>FastAPI Python Simple Webapp</h6>
<p>
FastAPI Python Simple Webapp
<b>FastAPI Python Simple Webapp</b>
<strong>FastAPI Python Simple Webapp</strong>
<i>FastAPI Python Simple Webapp</i>
<em>FastAPI Python Simple Webapp</em>
<mark>FastAPI Python Simple Webapp</mark>
<small>FastAPI Python Simple Webapp</small>
<del>FastAPI Python Simple Webapp</del>
<ins>FastAPI Python Simple Webapp</ins>
<sub>FastAPI Python Simple Webapp</sub>
<sup>FastAPI Python Simple Webapp</sup>
</p>
<code>
FastAPI Python Simple Webapp
</code>
<kbd>FastAPI Python Simple Webapp</kbd>
<samp>FastAPI Python Simple Webapp</samp>
<var>FastAPI Python Simple Webapp</var>
Semantics
<article>Article: FastAPI Python Simple Webapp</article>
<aside>Aside: FastAPI Python Simple Webapp</aside>
<details>Details: FastAPI Python Simple Webapp</details>
<figcaption>Figcaption: FastAPI Python Simple Webapp</figcaption>
<figure>Figure: FastAPI Python Simple Webapp</figure>
<footer>Footer: FastAPI Python Simple Webapp</footer>
<header>Header: FastAPI Python Simple Webapp</header>
<main>Main: FastAPI Python Simple Webapp</main>
<mark>Mark: FastAPI Python Simple Webapp</mark>
<nav>Nav: FastAPI Python Simple Webapp</nav>
<section>Section: FastAPI Python Simple Webapp</section>
<summary>Summary: FastAPI Python Simple Webapp</summary>
<time>Time: FastAPI Python Simple Webapp</time>
</div>
<a href="#expagetop">Top</a>

{% endblock %}
