{% extends 'base.html' %}

{% block title %}
FastAPI Python Simple Webapp
{% endblock %}

{% block htmlbody %}

<div id="expagetop">
<h1>
Lists
</h1>
</div>

<hr />

<div>
Unordered List
<ul>
FastAPI Python Simple Webapp
<li>FastAPI Python Simple Webapp</li>
<li><a href="#">FastAPI Python Simple Webapp</a></li>
</ul>
<hr />
Ordered List
<ol>
FastAPI Python Simple Webapp
<li>FastAPI Python Simple Webapp</li>
<li>FastAPI Python Simple Webapp</li>
</ol>
<hr />
Descriptive Lists
<dl>
<dt>Coffee</dt>
<dd>- black hot drink</dd>
<dt>Milk</dt>
<dd>- white cold drink</dd>
</dl>
</div>

<a href="#expagetop">Top</a>

{% endblock %}
