{% extends 'base.html' %}

{% block title %}
FastAPI Python Simple Webapp
{% endblock %}

{% block htmlbody %}

<div id="expagetop">
<h1>
Tables
</h1>
</div>

<hr />

<div>
<table>
<tr>
<th>FastAPI Python Simple Webapp</th>
<th>FastAPI Python Simple Webapp</th>
<th>FastAPI Python Simple Webapp</th>
<th>FastAPI Python Simple Webapp</th>
</tr>
<tr>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
</tr>
<tr>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
</tr>
<tr>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
</tr>
<tr>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
<td>FastAPI Python Simple Webapp</td>
</tr>
</table>
</div>

<a href="#expagetop">Top</a>

{% endblock %}
