{% extends 'base.html' %}


{% block title %}
TEST - 1
{% endblock %}


{% block header %}
TEST - Containers
{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
<div class="content flex-container">
  <div class="content bordered">
    <table>
      <tr><th><a href="{{ url_for('views.test_3') }}">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
  
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="">230.255.255.254</a>
        </td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU / 999 GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="">230.255.255.254</a>
        </td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU / 999 GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="">230.255.255.254</a>
        </td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU / 999 GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="">230.255.255.254</a>
        </td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU / 999 GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="">230.255.255.254</a>
        </td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU / 999 GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">
        </div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">HOSTNAME</a></th></tr>
      <tr><td>
        <a href="ssh://127.0.0.1/" class="button">SSH</a>
        <a href="http://127.0.0.1/" target="_blank">127.0.0.1</a>
        </td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU / # GB RAM</td></tr>
      <tr><td><div style="max-width:512px;overflow:auto;">NOTES</div></td></tr>
    </table>
  </div>
</div>


{% endblock %}


{% block footer %}
{% endblock %}
