{% extends 'base.html' %}


{% block title %}
TEST - 1
{% endblock %}


{% block header %}
TEST - Containers
{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
<div class="content flex-container">
  <div class="content bordered">
    <table>
      <tr><th><a href="">Hostname</a></th></tr>
      <tr><td><a href="http://8.8.8.8/" target="_blank">8.8.8.8</a></td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU</td></tr>
      <tr><td># GB RAM</td></tr>
      <tr><td># GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Hostname</a></th></tr>
      <tr><td><a href="http://8.8.8.8/" target="_blank">8.8.8.8</a></td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU</td></tr>
      <tr><td># GB RAM</td></tr>
      <tr><td># GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td><a href="">230.255.255.254</a></td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU</td></tr>
      <tr><td>999 GB RAM</td></tr>
      <tr><td>9999 GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td><a href="">230.255.255.254</a></td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU</td></tr>
      <tr><td>999 GB RAM</td></tr>
      <tr><td>9999 GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td><a href="">230.255.255.254</a></td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU</td></tr>
      <tr><td>999 GB RAM</td></tr>
      <tr><td>9999 GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td><a href="">230.255.255.254</a></td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU</td></tr>
      <tr><td>999 GB RAM</td></tr>
      <tr><td>9999 GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Hostname</a></th></tr>
      <tr><td><a href="http://8.8.8.8/" target="_blank">8.8.8.8</a></td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU</td></tr>
      <tr><td># GB RAM</td></tr>
      <tr><td># GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Hostname</a></th></tr>
      <tr><td><a href="http://8.8.8.8/" target="_blank">8.8.8.8</a></td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU</td></tr>
      <tr><td># GB RAM</td></tr>
      <tr><td># GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Very-Long-Hostnameeeeeeeeeeeee</a></th></tr>
      <tr><td><a href="">230.255.255.254</a></td></tr>
      <tr><td>LONG GROUP NAMEEEEEEEEEE</td></tr>
      <tr><td>64 CPU</td></tr>
      <tr><td>999 GB RAM</td></tr>
      <tr><td>9999 GB HDD/SDD</td></tr>
    </table>
  </div>
  <div class="content bordered">
    <table>
      <tr><th><a href="">Hostname</a></th></tr>
      <tr><td><a href="http://8.8.8.8/" target="_blank">8.8.8.8</a></td></tr>
      <tr><td>GROUP</td></tr>
      <tr><td># CPU</td></tr>
      <tr><td># GB RAM</td></tr>
      <tr><td># GB HDD/SDD</td></tr>
    </table>
  </div>
</div>


{% endblock %}


{% block footer %}
{% endblock %}
