{% extends 'base.html' %}


{% block title %}
TEST - 1
{% endblock %}


{% block header %}
TEST - Form
{% endblock %}

{% block nav %}
{% endblock %}


{% block content %}
<div class="content">
  <h1>HOSTNAME</h1>
</div>
<div class="content flex-container">
  <div class="content bordered col-6 col-s-12">
    <table>
      <tr>
        <td><form action="" method="">
        <input type="submit" value="REBOOT" class="color-orange">
          </form></td>
        <td><form action="" method="">
          <input type="submit" value="SHUTDOWN" class="color-red">
          </form></td>
        <td>
          <a href="ssh://127.0.0.1" class="button">SSH</a>
        </td>
        <td><form action="" method="">
          <input type="submit" value="ACTION 1" class="color-yellow">
          </form></td>
        <td><form action="" method="">
          <input type="submit" value="ACTION 2" class="color-green">
          </form></td>
        <td><form action="" method="">
          <input type="submit" value="ACTION 3" class="color-blue">
          </form></td>
      </tr>
    </table>
  </div>
  <div class="content col-10 col-s-12">
    <form action="" method="">
    <table>
      <tr>
        <th></th>
        <th style="width: 40%;">Current</th>
        <th>Update</th>
      </tr>
      <tr>
        <td>Group</td>
        <td>Group A</td>
        <td>
          <select id="group" name="group">
            <option selected disabled>Select an option</option>
            <option value="GroupA">Group A</option>
            <option value="GroupB">Group B</option>
            <option value="GroupC">Group C</option>
            <option value="other">Other</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Category</td>
        <td>VM</td>
        <td>
          <select id="category" name="category">
            <option selected disabled>Select an option</option>
            <optgroup label="Bare Metal">
              <option value="Desktop">Desktop</option>
              <option value="Laptop">Laptop</option>
              <option value="Server">Server</option>
              <option value="Hypervisor">Hypervisor</option>
            </optgroup>
            <optgroup label="Cloud Hosted">
              <option value="AWSec2">AWS EC2</option>
              <option value="GCPcompute">GCP Compute</option>
              <option value="AzureCompute">Azure Compute</option>
              <option value="CloudOther">Other Cloud</option>
            </optgroup>
            <optgroup label="Virtual">
              <option value="VM">VM</option>
              <option value="ContainerDocker">Container - Docker</option>
              <option value="ContainerK8S">Container - Kubernetes</option>
              <option value="ContainerLXC">Container - LXC</option>
            </optgroup>
            <optgroup label="Mobile">
              <option value="TabletApple">Tablet - Apple</option>
              <option value="TabletAndroid">Tablet - Android</option>
              <option value="TabletOther">Tablet - Other</option>
              <option value="CellPhoneApple">Cell Phone - Apple</option>
              <option value="CellPhoneAndroid">Cell Phone - Android</option>
              <option value="CellPhoneOther">Cell Phone - Other</option>
              <option value="MobileOther">Mobile - Other</option>
            </optgroup>
            <optgroup label="IOT">
              <option value="SmartTV">Smart TV</option>
              <option value="Router">Router</option>
            <option value="IOTOther">IOT - Other</option>
            </optgroup>
            <option value="other">Other</option>
          </select>
          <input type="text" id="categoryother" name="categoryother" placeholder="Description for Other option">
        </td>
      </tr>
      <tr>
        <td>IP Address</td>
        <td><a href="http://127.0.0.1" target="_blank">127.0.0.1</a></td>
        <td></td>
      </tr>
      <tr>
        <td>Architecture</td>
        <td>x86/64</td>
        <td>
          <select id="cpuarch" name="cpuarch">
            <option selected disabled>Select an option</option>
            <option value="x86">x86</option>
            <option value="amd64">amd64</option>
            <option value="armhf">armhf</option>
            <option value="arm64">arm64</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Operating System</td>
        <td>Debian</td>
        <td>
          <select id="os" name="os">
            <option selected disabled>Select an option</option>
            <optgroup label="Linux">
              <option value="Ubuntu">Ubuntu</option>
              <option value="Debian">Debian</option>
              <option value="CentOS">CentOS</option>
              <option value="RHEL">RHEL</option>
              <option value="AlpineLinux">Alpine Linux</option>
              <option value="OtherLinux">Other Linux</option>
            </optgroup>
            <optgroup label="Windows">
              <option value="Windows1011">Windows 10/11</option>
              <option value="WindowsServer1619">Windows Server 2016/19</option>
              <option value="WindowsServer2012">Windows Server 2012</option>
            </optgroup>
            <optgroup label="macOS">
              <option value="macOS">macOS</option>
            </optgroup>
            <optgroup label="Mobile">
              <option value="iOS">iOS</option>
              <option value="Android">Android</option>
            </optgroup>
            <option value="CiscoIOS">Cisco IOS</option>
            <option value="other">Other</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>CPU Type</td>
        <td>amd64</td>
        <td>
          <select id="cputype" name="cputype">
            <option selected disabled>Select an option</option>
            <option value="x86">x86</option>
            <option value="amd64">amd64</option>
            <option value="armhf">armhf</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>CPU Cores</td>
        <td>1</td>
        <td><input type="number" id="cpucores" name="cpucores"></td>
      </tr>
      <tr>
        <td>Memory</td>
        <td>1 GB</td>
        <td><input type="text" id="memory" name="memory" placeholder="Memory in GB"></td>
      </tr>
      <tr>
        <td>Number of Disks</td>
        <td>1</td>
        <td><input type="number" id="disknumber" name="disknumber"></td>
      </tr>
      <tr>
        <td>Primary Disk Size</td>
        <td>16 GB</td>
        <td><input type="text" id="disksize" name="disksize" placeholder="Disk Size in GB"></td>
      </tr>
      <tr>
        <td>Notes</td>
        <td>Localhost</td>
        <td><textarea id="description" name="description" rows="2" placeholder="Description"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <input type="submit" value="UPDATE">
          <input type="reset">
        </td>
      </tr>
    </table>
    </form>
  </div>
</div>

{% endblock %}


{% block footer %}
{% endblock %}
