<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js}"></script>
  <title>Spring Webapp Template</title>
</head>
<body>

<header th:fragment="page-header(navheader,navlinks)">
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:replace="${navheader}" href="/">HEADER</a>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
        <th:block th:replace="${navlinks}" />
      </ul>
    </div>
  </nav>
</header>


</body>
</html>