{#include base-user}
  {#title}Java Quarkus WebApp{/title}

{#content}
<div id="usernav">
  <div>
    <a href="/users/list">List</a>
  </div>
  <div>
    <a href="/users/create">Create</a>
  </div>
</div>
<div id="usercreate">
  <form>
    <div>
      <input type="text" id="username" name="username" placeholder="Enter a username" autocomplete="off" required>
    </div>
    <div>
      <input type="email" id="email" name="email" placeholder="Enter an email address" autocomplete="off" required>
    </div>
    <div>
      <input type="password" id="password1" name="password1" placeholder="Enter a password" required>
    </div>
    <div>
      <input type="password" id="password2" name="password2" placeholder="Verify password" required>
    </div>
    <div>
      <input type="submit" value="Create User" onclick="return confirm('Are you sure?');">
      <input type="reset">
    </div>
  </form>
</div>
{/content}

{/include}