{#include base-user}
  {#title}Java Quarkus WebApp{/title}

{#content}
<div id="usernav">
  <div>
    <a href="/users/list">List</a>
  </div>
  <div>
    <a href="/users/create">Create</a>
  </div>
</div>
<div id="userdetails">
  <table>
    <tr>
      <td>ID</td>
      <td>{user.id}</td>
      <td>
        <form action="/users/delete/{user.id}" method="post">
          <input type="submit" id="deleteuser" value="DELETE USER" onclick="return confirm('Are you sure?');">
        </form>
      </td>
    </tr>
    <tr>
      <td>Username</td>
      <td>{user.username}</td>
      <td></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{user.email}</td>
      <td>
        <form action="#" method="">
          <input type="email" id="newuseremail" name="newuseremail" placeholder="Enter a new email address" autocomplete="off" required>
          <input type="submit" value="Update"><input type="reset">
        </form>
      </td>
    </tr>
    <tr>
      <td>Password</td>
      <td>{user.password}</td>
      <td>
        <form action="#" method="">
          <input type="password" id="newuserpassword1" name="newuserpassword1" placeholder="Enter a new password" required>
          <input type="password" id="newuserpassword2" name="newuserpassword2" placeholder="Verify the new password" required>
          <input type="submit" value="Update"><input type="reset">
        </form>
      </td>
    </tr>
  </table>
</div>
{/content}

{/include}