{#include base-user}
  {#title}Java Quarkus WebApp{/title}

{#content}
<div id="usernav">
  <div>
    <a id ="userlistlink" href="/users/list">List</a>
  </div>
  <div>
    <a id="usercreatelink" href="/users/create">Create</a>
  </div>
</div>
<div id="userlist">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
    {#for usr in userlist}
    <tr>
      <td>{usr.id}</td>
      <td>
        <a id="userdetail" href="/users/detail/{usr.id}">
        {usr.username}
        </a>
      </td>
      <td>
        <a id="useremail" href="mailto:{usr.email}">M</a>
        {usr.email}
      </td>
      <td>{usr.password}</td>
    </tr>
    {/for}
  </table>
</div>
{/content}

{/include}