{{define "header"}}
<li class="nav-item">
  <a href="#" class="nav-link text-start btn btn-sm m-1 p-1">
    {{.loginuser}}
  </a>
</li>
<li class="nav-item">
  <a href="/logout" class="nav-link text-start btn btn-sm m-1 p-1">
    Logout
  </a>
</li>
{{end}}

{{define "content"}}
<div class="content">
  <div class="row">
    <div class="col-12 col-sm-4">
    </div>
    <div class="col-12 col-sm-4">
      <table class="table table-hover">
        <tr><th>ID</th><th>Users</th><th></th></tr>
        {{range .userlist}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.Username}}</td>
          <td>
            <form action="/user/delete" method="post">
              <input type="hidden" id="uid" name="uid" value="{{.ID}}">
              <input type="submit" value="X" onclick="confirm('Are you sure you want to delete this user?');" class="btn btn-sm btn-danger">
            </form>
          </td>
        </tr>
        {{end}}
      </table>
    </div>
    <div class="col-12 col-sm-4">
      <div class="card">
        <form action="/user" method="post">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" placeholder="Username" class="form-control" required>
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
          <input type="submit" value="Add User" onclick="confirm('Add user?');" class="btn btn-sm btn-success">
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}