<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/style.css">
  <title>Webapp</title>
</head>
<body>

<header>
  <ul>
    <li><a href="/">Webapp</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/systems.html">Systems</a></li>
  </ul>
</header>

<div class="row" style="margin-top:48px;">

<div class="content">
  <h1>Web Application</h1>
</div>

<div class="content">
  <table>
    <tr>
      <th>ID</th>
      <th>Fruit</th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>


</div>

</body>
</html>
