{#include base}
{#title}Webapp Template{/title}
{#header}WEBAPP{/header}
{#navbar}
<li class="nav-item"><a href="" class="nav-link">Login</a></li>
{/navbar}
{#content}
<div class="row">
  <div class="col-12 col-sm-3"></div>
  <div class="card col-12 col-sm-6 m-3 p-3">
    <h1 class="card-title">Web App Template</h1>
    <div class="container">
      <p>Components:</p>
      <ul class="list-group">
        <li class="list-group-item">Java Quarkus Platform</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-sm-3"></div>
</div>
{/content}

{/include}