{% extends 'base.html' %}

{% block header %} Login {% endblock %}

{% block content %}
<div class="row">
  <div class="col-12 col-sm-4"></div>
  <div class="col-12 col-sm-4">
    
    <form action="/login" method="post">
      <div class="m-1 p-1">
        <h2>Login</h2>
      </div>
      <div class="m-1 p-1">
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter a username" class="form-control" autocomplete="off" required>
      </div>
      <div class="m-1 p-1">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter a password" class="form-control" required>
      </div>
      <div class="m-1 p-1">
        <input id="submit" type="submit" value="Login" class="btn btn-success">
      </div>
    </form>
    
  </div>
  <div class="col-12 col-sm-4"></div>
</div>
{% endblock %}
