<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Qute - Users</title> 
</head>
  
<header>
  <ul>
    <li><a href="/">Webapp</a></li>
    <li><a href="/users.html">Users</a></li>
    <li><a href="/login.html">Login</a></li>
  </ul>
</header>

<body>
    <h1>List of Users</h1>
    <ul>
        {#for user in users}
        <li>
            {user.name}:
            {#if user.price < 15}
              {user.price}
            {#else}
              <del>{user.price}</del> <strong>{user.discountedPrice}</strong>
            {/if}
        </li>
        {/for}
    </ul>
</body>
</html>