{{define "header"}}
<li><a href="/login">Login</a></li>
{{end}}

{{define "menu"}}
{{end}}

{{define "content"}}
<div class="col-3"></div>
<div class="col-6 content">
  <h1>Golang Webapp Template</h1>
  <div class="content">
    <table>
      <tr><th>To Do</th></tr>
      <tr><td>Add logfile to config</td></tr>
      <tr><td>Logging set to logfile</td></tr>
      <tr><td>Log level to config</td></tr>
      <tr><td>Check/Verify flag parsing</td></tr>
    </table>
  </div>
</div>
<div class="col-3"></div>
{{end}}

{{define "aside"}}
{{end}}
