{#include base}
  {#title}<title>Java Quarkus WebApp</title>{/title}
{#pagehead}
<script src="/js/angular.min.js"></script>
<script>
var app = angular.module("SystemManagement", []);

//Controller Part
app.controller("SystemManagementController", function ($scope, $http) {

//Initialize page with default data which is blank in this example
$scope.systems = [];

$scope.form = {
  id: -1,
  hostname: ""
  ipaddress: ""
};

//Now load the data from server
_refreshPageData();

//HTTP POST/PUT methods for add/edit Systems
$scope.update = function () {
  var method = "";
  var url = "";
  var data = {};
  if ($scope.form.id == -1) {
    //Id is absent so add Systems - POST operation
    method = "POST";
    url = '/systems';
    data.hostname = $scope.form.hostname;
    data.ipaddress = $scope.form.ipaddress;
  } else {
    //If Id is present, it's edit operation - PUT operation
    method = "PUT";
    url = '/systems/' + $scope.form.id;
    data.hostname = $scope.form.hostname;
    data.ipaddress = $scope.form.ipaddress;
  }

  $http({
    method: method,
    url: url,
    data: angular.toJson(data),
    headers: {
      'Content-Type': 'application/json'
    }
  }).then(_success, _error);
};

//HTTP DELETE- delete System by id
$scope.remove = function (system) {
  $http({
    method: 'DELETE',
      url: '/systems/' + system.id
    }).then(_success, _error);
  };

  //In case of edit fruits, populate form with fruit data
  $scope.edit = function (system) {
    $scope.form.hostname = system.hostname;
    $scope.form.ipaddress = system.ipaddress;
    $scope.form.id = system.id;
  };

  /* Private Methods */
  //HTTP GET- get all fruits collection
  function _refreshPageData() {
    $http({
      method: 'GET',
      url: '/systems'
    }).then(function successCallback(response) {
      $scope.systems = response.data;
    }, function errorCallback(response) {
      console.log(response.statusText);
    });
  }

  function _success(response) {
    _refreshPageData();
    _clearForm()
  }

  function _error(response) {
    alert(response.data.message || response.statusText);
  }

  //Clear the form
  function _clearForm() {
    $scope.form.hostname = "";
    $scope.form.ipaddress = "";
    $scope.form.id = -1;
  }
});
</script>
{/pagehead}
{#content}
<div ng-app="SystemManagement" ng-controller="SystemManagementController">
<div class="card m-3 p-3">
  <h3>Add/Edit a System</h3>
  <form ng-submit="update()">
    <div class="m-3">
      <label for="hostname" class="form-label">Hostname</label>
      <input type="text" id="hostname" name="hostname" placeholder="Hostname" class="form-control" ng-model="form.hostname" />
    </div>
    <div class="m-3">
      <label for="ipaddress" class="form-label">IP Address</label>
      <input type="text" id="ipaddress" name="ipaddress" placeholder="IP Address" class="form-control" ng-model="form.ipaddress" />
    </div>
    <div class="m-3">
      <input type="submit" value="Save" /><input type="reset" />
    </div>
  </form>
</div>
<div class="container">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Hostname</th>
      <th>IP Address</th>
      <th>Notes</th>
      <th></th>
    </tr>
    
    <tr ng-repeat="sys in systems">
      <td>{{ sys.id }}</td>
      <td>{{ sys.hostname }}</td>
      <td>{{ sys.ipaddress }}</td>
      <td>{{ sys.notes }}</td>
      <td>
        <a ng-click="edit( sys )" class="btn">Edit</a>
        <a ng-click="remove( sys )" class="btn">Remove</a>
      </td>
    </tr>
    
    {#for tsystem in testsystems}
    <tr>
      <td>{tsystem.id}</td>
      <td>{tsystem.hostname}</td>
      <td>{tsystem.ipaddress}</td>
      <td>{tsystem.notes}</td>
      <td></td>
    </tr>
    {/for}
  </table>
</div>

</div>
{/content}

{/include}