{#include base}
{#title}WEBAPP{/title}
{#header}WEBAPP{/header}
{#content}
<div class="row">
  <div class="col-12 col-sm-3"></div>
  <div class="card col-12 col-sm-6 m-3 p-3">
    <h1>Java Quarkus Web Application</h1>
    <div class="container">
      <p>Extensions:</p>
      <ul>
        <li>quarkus-arc</li>
        <li>quarkus-resteasy-reactive-jackson</li>
        <li>quarkus-resteasy-reactive-qute</li>
        <li>quarkus-hibernate-orm-panache</li>
        <li>quarkus-agroal</li>
        <li>quarkus-security-jpa</li>
        <li>quarkus-jdbc-h2</li>
        <li>quarkus-micrometer</li>
        <li>quarkus-kubernetes</li>
        <li>quarkus-container-image-jib</li>
        <li>quarkus-container-image-docker</li>
        <li>rest-assured</li>
      </ul>
    </div>
  </div>
  <div class="col-12 col-sm-3"></div>
</div>
{/content}

{/include}