{#include base}
{#title}
Login
{/title}
{#header}
Login
{/header}
{#navbar}
{/navbar}
{#content}
<div class="row m-1 p-1">
  
  <div class="col"></div>
  
  <div class="col">
    <h3>Login</h3>
    <form action="/login" method="post">
      <div class="m-1 p-1">
        <input type="text" id="username" name="username" placeholder="Username" class="form-control" required>
      </div>
      <div class="m-1 p-1">
        <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
      </div>
      <div class="m-1 p-1">
        <input type="submit" value="Login" class="btn btn-sm btn-success">
      </div>
    </form>
  </div>
  
  <div class="col"></div>
  
</div>
{/content}

{/include}