{#include base}
{#title}WEBAPP{/title}
{#header}Login{/header}
{#content}
<div class="row">
  <div class="col-12 col-sm-3"></div>
  <div class="col-12 col-sm-6 card">
    <form action="/login" method="POST">
      <div class="m-1 p-1">
        <h2>Login</h2>
      </div>
      <div class="m-1 p-1">
        <input type="text" id="username" name="username" placeholder="Username" class="form-control" autocomplete="off" required>
      </div>
      <div class="m-1 p-1">
        <input type="password" id="password" name="password" placeholder="Password" class="form-control" required>
      </div>
      <div class="m-1 p-1">
        <input id="submit" type="submit" value="Login" class="btn btn-sm btn-success m-1 p-1">
        <input id="reset" type="reset" class="btn btn-sm btn-secondary m-1 p-1">
      </div>
    </form>
  </div>
  <div class="col-12 col-sm-3"></div>
</div>
{/content}

{/include}