<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/img/favicon.ico">
  <script type="text/javascript" src="/js/bootstrap.bundle.min.js}"></script>
  <title>Web MVC Template</title>
</head>
<body>

<div th:replace="~{base :: page-header}"></div>

<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

<form th:action="@{/logout}" method="post">
  <input type="submit" value="Sign Out" class="btn btn-sm btn-primary" />
</form>

</body>
</html>