<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <title>{#insert title}{/}</title>
  {#insert pagehead}{/}
</head>
<body>

<header>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <a class="navbar-brand dropdown" href="#">WEBAPP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{#insert header}{/}</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/list">User List</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/q/dev/">Docs</a></li>
              <li><a class="dropdown-item" href="/test">Test</a></li>
            </ul>
          </li>
          {#insert navbar}{/}
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>

<div class="container-fluid">
  {#insert content}CONTENT SECTION{/}
</div>

</body>
</html>
