<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.3.min.js"></script>
  <script src="/js/style.js"></script>
  <title>{#insert title}WEBAPP{/}</title>
  {#insert pagehead}{/}
</head>
<body>

<header>
  <nav>
    <a id="navbarbrand" href="#">HEADER</a>
    <ul>
      <li><a href="/">Index</a></li>
      {#insert navbar}{/}
      <li>
        <div>
          <a href="#">Users</a>
          <ul>
            <li><a href="/users/list">List</a></li>
            <li><hr></li>
            <li><a href="/users">REST</a></li>
          </ul>
        </div>
      </li>
      <li><a href="/login">Login</a></li>
    </ul>
  </nav>
</header>

<div id="contentsection">
  {#insert content}CONTENT SECTION{/}
</div>

</body>
</html>
